.videoPlayer{
    border: 1.5px solid white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
  }
  .modulesList{
    margin: 5px;
    flex: 1;
    border-radius: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    max-height: 410px;
    overflow-x:hidden;
    overflow-y: hidden; 
  } 
  .modulesList::-webkit-scrollbar {
    display: none;
  }
  .modulesList:hover{
    overflow-x:hidden;
    overflow-y: scroll;
  }
  .expertsList{
    width: 100%;
  }
  .underLine{
      background-color: aqua;
      width: 80px;
      height: 2px;
      margin-left: .8rem;
      margin-bottom: 1rem;
  }